:root {
  --font-regular: 15px;
  --font-small: 12px;
  --color-border: 1px solid #d7d7db;
  --color-background: #f9f9fa;
  --color-hover: #ebebeb;
  --color-active: #dadada;
}

* {
  box-sizing: border-box;
}

html, body {
  width: 350px;
  background-color: var(--color-background);
  color: #0c0c0d;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: var(--font-regular);
  margin: 0;
}

h1 {
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 10px 0;
  background-image: url("icons/icon-dark.svg");
  background-position: left 0 center;
  background-repeat: no-repeat;
  background-size: auto 18px;
  padding-inline-start: 25px;
}

form {
  position: relative;
  padding: 10px 15px 5px 15px;
}

input, select {
  font-size: var(--font-regular);
  color: #0c0c0d;
  height: 30px;
  border: var(--color-border);
  border-radius: 2px;
  -moz-appearance: none;
  padding: 0px 12px;
  margin: 0 0 5px 0;
}

input:focus {border-color: #0a84ff;}

select {
  background-color: var(--color-background);
  background-image: url("icons/dropdown.svg");
  background-position: right 3px center;
  background-repeat: no-repeat;
  background-size: auto 18px;
  padding-inline-start: 7px;
  padding-inline-end: 24px;
  text-overflow: ellipsis;
}

select:hover, button:hover {background-color: var(--color-hover);}
select:active, button:active {background-color: var(--color-active);}

#category {width: 115px; margin-right: 5px;}
#unit {width: 200px;}
#value {width: 320px;}
#output {
  position: relative;
  display: none;
}
#tools {
  border-top: var(--color-border);
  display: none;
  padding: 5px 10px;
  font-size: var(--font-small);
  text-align: right;
}
#disclaimer {
  border-top: var(--color-border);
  padding: 10px 15px;
  font-size: var(--font-small);
}

.message {
  position: absolute;
  margin: 70px auto 0 auto;
  height: 100px;
  width: 100px;
  left: 0;
  right: 0;
  animation: fadeout 1s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  background-color: var(--color-active);
  background-image: url("icons/copy.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 50px;
  border-radius: 5px;
  opacity: 0;
}

@keyframes fadeout {
  from {opacity: 1;}
  to {opacity: 0;}
}

.iconic {
  height: 26px;
  width: 26px;
  border: none;
  background: transparent;
  color: transparent;
  text-align: center;
  margin: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 16px;
}

.iconic:disabled {
  opacity: 0.2;
}

.link {
  border: none;
  background: transparent;
  color: #0a84ff;
  padding: 0;
  font-size: inherit;
}

.link:hover {
  background: transparent !important;
  color: #003eaa;
  text-decoration: underline;
}

#addDec {background-image: url("icons/zoom-in.svg");}
#subDec {background-image: url("icons/zoom-out.svg");}

#reset {
  background-image: url("icons/reset.svg");
  position: absolute;
  display: none;
  height: 19px;
  width: 19px;
  right: 20px;
  bottom: 15px;
  background-size: auto 16px;
}

table {
  width: 100%;
  border-spacing: 0;
}

td {
  border-top: var(--color-border);
  padding: 5px 15px;
  position: relative;
}

td div:nth-child(1) {
  text-align: left;
  font-size: var(--font-small);
  line-height: 20px;
  float: left;
}

td div:nth-child(2) {
  text-align: right;
  font-weight: bold;
  float: right;
  line-height: 20px;
  padding-left: 0;
}

.deemphasize {color: #b1b1b3 !important;}
.exponent {
  color: #008ea4;
  white-space: nowrap;
}
.exponent:before {content: "10";}
.exponent:after {content: " × ";}

.copy:hover {
  display: inline-block;
  background-color: var(--color-hover);
  margin: -1px -7px -1px -25px;
  padding: 1px 7px 1px 25px;
  background-image: url("icons/copy.svg");
  background-position: 5px;
  background-repeat: no-repeat;
  background-size: auto 12px;
}

.copy:active {
  background-color: var(--color-active);
}

.copyBuffer {
  position: absolute;
  left: -9999px;
  top: -99999px;
}
