:root {
  --border-divider: 1px solid rgba(0, 0, 0, 0.1);

  --color-body-bg: rgba(255, 255, 255, 1);
  --color-body-text: #1a1a1a;

  --color-select-bg: rgba(0, 0, 0, 0.1);
  --color-select-bg-hover: rgba(0, 0, 0, 0.15);
  --color-select-bg-active: rgba(0, 0, 0, 0.2);

  --color-input-bg: rgba(255, 255, 255, 1);
  --color-input-border: 1px solid rgba(0, 0, 0, 0.15);

  --color-conversion-bg-hover: rgba(0, 0, 0, 0.1);
  --color-conversion-bg-active: rgba(0, 0, 0, 0.2);

  --color-popup-background: rgba(255, 255, 255, 1);
  --color-popup-border: rgba(12, 12, 13, .8);
  --color-popup-shadow: rgba(0, 0, 0, 0.5);

  --icon-logo: url("icons/icon-inline.svg");
  --icon-zoom-in: url("icons/zoom-in.svg");
  --icon-zoom-out: url("icons/zoom-out.svg");
  --icon-reset: url("icons/reset.svg");
  --icon-dropdown: url("icons/dropdown.svg");
  --icon-copy: url("icons/copy.svg");
  --icon-check: url("icons/check.svg");


  --color-input-border-focus: 2px solid rgba(0, 132, 255, 1);
  --color-input-outline-focus: 0 0 0 3px rgba(0, 132, 255, 0.3);

  --color-body-text-negative: #d70022 !important;
  --color-link: #0a84ff;
  --color-link-hover: #003eaa;

  --margin-group: 6px; /*USE OF THIS!!!!*/
  --font-regular: 15px;
  --font-small: 13px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --border-divider: 1px solid rgba(255, 255, 255, 0.1);

    --color-body-bg: rgba(74, 74, 79, 1);
    --color-body-text: rgba(249, 249, 250, 1);

    --color-select-bg: rgba(255, 255, 255, 0.1);
    --color-select-bg-hover: rgba(255, 255, 255, 0.15);
    --color-select-bg-active: rgba(255, 255, 255, 0.2);

    --color-input-bg: rgba(0, 0, 0, 0.2);
    --color-input-border: 1px solid rgba(255, 255, 255, 0.15);

    --color-conversion-bg-hover: rgba(255, 255, 255, 0.1);
    --color-conversion-bg-active: rgba(255, 255, 255, 0.2);

    --color-popup-background: rgba(74, 74, 79, 1);
    --color-popup-border: rgba(249, 249, 250, .8);
    --color-popup-shadow: rgba(0, 0, 0, 0.5);

    --icon-logo: url("icons/icon-inline-neg.svg");
    --icon-zoom-in: url("icons/zoom-in-neg.svg");
    --icon-zoom-out: url("icons/zoom-out-neg.svg");
    --icon-reset: url("icons/reset-neg.svg");
    --icon-dropdown: url("icons/dropdown-neg.svg");
    --icon-copy: url("icons/copy-neg.svg");
    --icon-check: url("icons/check-neg.svg");
  }
}

* {box-sizing: border-box;}

html, body {
  width: 350px;
  background-color: var(--color-body-bg);
  color: var(--color-body-text);
  font-size: var(--font-small);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
}

h1 {
  display: block;
  font-size: 18px;
  font-weight: normal;
  padding-left: 25px;
  margin: 10px 0 0 15px;
  background-image: var(--icon-logo);
  background-position: left 0 center;
  background-repeat: no-repeat;
  background-size: auto 18px;
}

/* FORM/INPUT */

#input {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--color-body-bg);
}
#input.whenSelectorOpen {
  height: 384px;
}
#input.whenSelectorOpen form {
  visibility: hidden;
}

form {
  position: relative;
  padding: 10px 15px;
}

button {
  border: none;
  border-radius: 2px;
  color: transparent;
}

input, #selectorSelected {
  font-size: var(--font-regular);
  color: var(--color-body-text);
  height: 30px;
  border-radius: 2px;
}

input {
  padding: 0px 10px;
  border: var(--color-input-border);
  background-color: var(--color-input-bg);
}
input:focus {
  padding: 0 9px;
  border: var(--color-input-border-focus);
  box-shadow: var(--color-input-outline-focus);
}

#selectorSelected {
  margin: 0 0 5px 0;
  padding: 5px 10px;
  border: none;
  background-color: var(--color-select-bg);
  background-image: var(--icon-dropdown);
  background-position: right 9px center;
  background-repeat: no-repeat;
  background-size: auto 12px;
}
#selectorSelected:hover {background-color: var(--color-select-bg-hover);}
#selectorSelected:active {background-color: var(--color-select-bg-active);}

#value {width: 320px;}
#value:disabled {opacity: 0.2;}

.inputGroup {
  position: relative;
}

.reset {
  position: absolute;
  display: none;
  height: 19px;
  width: 19px;
  right: 5px;
  top: 5px;
  background-color: transparent;
  background-image: var(--icon-reset);;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 13px;
}

.resetFilter {
  right: 25px;
  top: 3px;
  background-size: auto 12px;
}

#selector {
  position: absolute;
  top: 42px;
  left: 15px;
  z-index: 3;
  width: 320px;
  display: none;
  border: none;
  border-radius: 2px;
  background-color: var(--color-select-bg);
  padding: 5px 10px;
  margin-bottom: 5px;
}

#selector dl {
  margin: -5px -10px;
  height: 300px;
  overflow: scroll;
}

#selector dt {
  font-weight: bold;
  padding: 9px 15px 3px 15px;
  margin: 6px 0 0 0;
  border-top: var(--border-divider);
}
#selector dt:first-of-type {border: none;}
#selector dd {
  padding: 3px 30px;
  margin: 0;
}
#selector dd:hover {background-color: var(--color-select-bg-active);}
#selector dd.checked {
  background-image: var(--icon-check);
  background-position: left 10px center;
  background-repeat: no-repeat;
  background-size: auto 14px;
}

#selectorFilter {
  font-size: var(--font-small);
  width: 280px;
  margin-bottom: 10px;
  height: 26px;
}

#selectorClose {
  position: absolute;
  height: 19px;
  width: 19px;
  right: 5px;
  top: 6px;
  border: none;
  background-color: transparent;
  color: transparent;
  background-image: var(--icon-dropdown);;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 12px;
}

#selectorVeil {
  display: none;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 384px;
}

/* TOOLS */

#tools {
  border-top: var(--border-divider);
  border-bottom: var(--border-divider);
  display: none;
  padding: 6px 13px;
  text-align: right;
}

.iconic {
  height: 20px;
  width: 20px;
  background-color: var(--color-select-bg);
  text-align: center;
  margin: 0 2px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 12px;
}
.iconic:hover {background-color: var(--color-select-bg-hover);}
.iconic:active {background-color: var(--color-select-bg-active);}
.iconic:disabled {opacity: 0.2;}

#decimalsAdd {background-image: var(--icon-zoom-in);}
#decimalsSubtract {background-image: var(--icon-zoom-out);}


/* RESULTS/OUTPUT */

#output {
  z-index: 0;
  position: relative;
  display: none;
  margin-top: -7px;
  margin-bottom: 6px;
}

.system {
  margin-top: 6px;
  padding: 12px 15px 5px 15px;;
  font-weight: bold;
  text-align: center;
  border-top: var(--border-divider);
}

.conversion {
  padding: 5px 15px;
}

.conversion::after {
  content: "";
  display: block;
  clear: both;
}

.conversion:hover {
  background-color: var(--color-conversion-bg-hover);
}

.conversion:active {
  background-color: var(--color-conversion-bg-active);
}

.conversion:hover .copy {
  display: inline-block;
  padding-left: 25px;
  background-image: var(--icon-copy);
  background-position: 0px;
  background-repeat: no-repeat;
  background-size: auto 16px;
}

.hidable {
  display: none;
}
.hidable.shown {
  display: block;
}

.conversion div:nth-child(1) {
  float: left;
}

.conversion div:nth-child(2) {
  float: right;
  font-weight: bold;
}

.errorInfo {
  font-weight: normal;
  text-transform: uppercase;
  opacity: 0.4;
}

.deemphasize {opacity: 0.4;}

.negative {color: var(--color-body-text-negative);}


/* DISCLAIMER */

.footnote {
  margin: 6px 0 -6px 0;
  padding: 7px 15px;
  text-align: center;
  background-color: var(--color-select-bg);
}
.footnote:hover {
  background-color: var(--color-select-bg-hover);
}
.footnote:active {
  background-color: var(--color-select-bg-active);
}

#disclaimer {
  border-top: var(--border-divider);
  padding: 10px 15px;
}

.link {
  font-size: var(--font-small);
  border: none;
  background: transparent;
  color: var(--color-link);
  padding: 0;
}
.link:hover {
  background: transparent !important;
  color: var(--color-link-hover);
  text-decoration: underline;
}


/* COPY STUFF  */

.popupCopy {
  z-index: 3;
  position: fixed;
  margin: 0 auto;
  height: 100px;
  width: 100px;
  top: 120px;
  left: 0;
  right: 0;
  animation: fadeout 1s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  background-color: var(--color-popup-background);
  background-image: var(--icon-copy);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 50px;
  border-radius: 8px;
  border: 5px solid var(--color-popup-border);
  box-shadow: 0 0 10px var(--color-popup-shadow);
  opacity: 0;
}

@keyframes fadeout {
  from {opacity: 1;}
  to {opacity: 0;}
}

.copyBuffer {
  position: absolute;
  left: -9999px;
  top: -99999px;
}
